<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Welcome To <%= recipe.name %> </h1>
    <p>Recipe: <%= recipe.name %> </p>
    <br />
    <p>Instructions: <%= recipe.instructions %></p>
    <p>Ingredients:</p>
    <ul>
        <% recipe.ingredients.forEach((ingredient) => { %>
            <%= ingredient.name %>
        <% }) %>  
    </ul>
    <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Recipe</button>
      </form>
      <a href="/recipes/<%= recipe._id %>/edit">
        <button>Edit Recipe</button>
      </a>
</body>
</html>